body {
    text-align: center;
    border: solid white 3px;
    background-color: yellow;
}

h2 {
    margin-top: 100px;
    border: solid white 3px;
    background-color: black;
    color: white;
    box-shadow: 0 0 9px cyan,
            0 0 40px cyan;
   
}